studia/Graphs_sem5_cw6_Client/src/conf/xml-resources/web-service-references/Graph/wsdl/localhost_8080/GraphService/Graph.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.lab.polsl.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.lab.polsl.pl/" name="Graph">
<types>
<xsd:schema>
<xsd:import namespace="http://service.lab.polsl.pl/" schemaLocation="http://localhost:8080/GraphService/Graph?xsd=1"/>
</xsd:schema>
</types>
<message name="persist">
<part name="parameters" element="tns:persist"/>
</message>
<message name="persistResponse">
<part name="parameters" element="tns:persistResponse"/>
</message>
<message name="resetGraph">
<part name="parameters" element="tns:resetGraph"/>
</message>
<message name="resetGraphResponse">
<part name="parameters" element="tns:resetGraphResponse"/>
</message>
<message name="returnFW">
<part name="parameters" element="tns:returnFW"/>
</message>
<message name="returnFWResponse">
<part name="parameters" element="tns:returnFWResponse"/>
</message>
<message name="AddVertex">
<part name="parameters" element="tns:AddVertex"/>
</message>
<message name="AddVertexResponse">
<part name="parameters" element="tns:AddVertexResponse"/>
</message>
<message name="returnGraph">
<part name="parameters" element="tns:returnGraph"/>
</message>
<message name="returnGraphResponse">
<part name="parameters" element="tns:returnGraphResponse"/>
</message>
<message name="AddEdge">
<part name="parameters" element="tns:AddEdge"/>
</message>
<message name="AddEdgeResponse">
<part name="parameters" element="tns:AddEdgeResponse"/>
</message>
<portType name="Graph">
<operation name="persist">
<input wsam:Action="http://service.lab.polsl.pl/Graph/persistRequest" message="tns:persist"/>
<output wsam:Action="http://service.lab.polsl.pl/Graph/persistResponse" message="tns:persistResponse"/>
</operation>
<operation name="resetGraph">
<input wsam:Action="http://service.lab.polsl.pl/Graph/resetGraphRequest" message="tns:resetGraph"/>
<output wsam:Action="http://service.lab.polsl.pl/Graph/resetGraphResponse" message="tns:resetGraphResponse"/>
</operation>
<operation name="returnFW">
<input wsam:Action="http://service.lab.polsl.pl/Graph/returnFWRequest" message="tns:returnFW"/>
<output wsam:Action="http://service.lab.polsl.pl/Graph/returnFWResponse" message="tns:returnFWResponse"/>
</operation>
<operation name="AddVertex">
<input wsam:Action="http://service.lab.polsl.pl/Graph/AddVertexRequest" message="tns:AddVertex"/>
<output wsam:Action="http://service.lab.polsl.pl/Graph/AddVertexResponse" message="tns:AddVertexResponse"/>
</operation>
<operation name="returnGraph">
<input wsam:Action="http://service.lab.polsl.pl/Graph/returnGraphRequest" message="tns:returnGraph"/>
<output wsam:Action="http://service.lab.polsl.pl/Graph/returnGraphResponse" message="tns:returnGraphResponse"/>
</operation>
<operation name="AddEdge">
<input wsam:Action="http://service.lab.polsl.pl/Graph/AddEdgeRequest" message="tns:AddEdge"/>
<output wsam:Action="http://service.lab.polsl.pl/Graph/AddEdgeResponse" message="tns:AddEdgeResponse"/>
</operation>
</portType>
<binding name="GraphPortBinding" type="tns:Graph">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="persist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetGraph">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnFW">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddVertex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnGraph">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddEdge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Graph">
<port name="GraphPort" binding="tns:GraphPortBinding">
<soap:address location="http://localhost:8080/GraphService/Graph"/>
</port>
</service>
</definitions>