studia/Graphs_sem5_cw6_Client/web/WEB-INF/wsdl/localhost_8080/GraphService/Graph.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.lab.polsl.pl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.lab.polsl.pl/">

<xs:element name="AddEdge" type="tns:AddEdge"/>

<xs:element name="AddEdgeResponse" type="tns:AddEdgeResponse"/>

<xs:element name="AddVertex" type="tns:AddVertex"/>

<xs:element name="AddVertexResponse" type="tns:AddVertexResponse"/>

<xs:element name="persist" type="tns:persist"/>

<xs:element name="persistResponse" type="tns:persistResponse"/>

<xs:element name="resetGraph" type="tns:resetGraph"/>

<xs:element name="resetGraphResponse" type="tns:resetGraphResponse"/>

<xs:element name="returnFW" type="tns:returnFW"/>

<xs:element name="returnFWResponse" type="tns:returnFWResponse"/>

<xs:element name="returnGraph" type="tns:returnGraph"/>

<xs:element name="returnGraphResponse" type="tns:returnGraphResponse"/>

<xs:complexType name="persist">
<xs:sequence>
<xs:element name="arg0" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persistResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="returnGraph">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="returnGraphResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resetGraph">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="resetGraphResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddVertex">
<xs:sequence>
<xs:element name="label" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddVertexResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnFW">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="returnFWResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddEdge">
<xs:sequence>
<xs:element name="sLabel" type="xs:string" minOccurs="0"/>
<xs:element name="eLabel" type="xs:string" minOccurs="0"/>
<xs:element name="weight" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AddEdgeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>